.account-modal-body {
  background-color: $col-breakedWhite;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  height: 500px;

  .account-modal-body-navigation {
    border-right: 2px solid $col-silver;
    ul {
      margin-right: 10px;
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
    }
    li {
      padding: 10px;
      transition: 0.2s;
      border-radius: 10px;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: $col-silver-hover;
      }
    }
    hr {
      margin: 5px;
    }
  }
  .account-modal-body-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h1 {
      font-family: $inter;
    }
    p {
      font-size: 1.3em;
    }

    .user-logo {
      user-select: none;
      background-color: $col-silver;
      border-radius: 50%;
      aspect-ratio: 1/1;
      width: 200px;
      display: grid;
      place-items: center;
      transition: 0.3s;
      position: relative;
      div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        aspect-ratio: 1/1;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: white;
        font-family: $inter;
        font-size: 2em;
        transition: 0.3s;
        cursor: pointer;
        opacity: 0;

        &:hover {
          border-radius: 50px;
        }
      }

      span {
        font-family: $inter;
        font-size: 3em;
      }

      &:hover {
        border-radius: 50px;
        div {
          opacity: 1;
        }
      }
    }

    .fa-right-long {
      transform: translateX(-10px) scale(1.2);
      cursor: pointer;
      transition: 0.3s;
      padding: 5px;
      border-radius: 50%;
      color: #0072f5;

      &:hover {
        background-color: $col-silver-hover;
      }
    }

    .infos-modal-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 100%;
      justify-content: center;
    }
  }
}
