.salary-set-overlay {
  font-family: $inter;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.695);
  z-index: 999999;

  .salary-set {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $col-blue;
    color: white;
    padding: 50px;
    border-radius: 50px;
    text-align: center;

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
